<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <form action="/delete" method="post">
      <% for (let i=0; i<newListItems.length; i++) { %>
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= newListItems[i]._id %>" onchange="this.form.submit()">
          <p>
            <%= newListItems[i].name %>
          </p>
        </div>
        <% } %>
        <input type="hidden" name="catName" value="<%= catName  %>"></input>
    </form>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
      <button type="submit" name="catName" value="<%= catName %>">+</button>
    </form>
  </div>

  <%- include("footer") -%>